html {font-size:20px;}
@media only screen and (min-width: 351px){ html{font-size: 22.5px !important;}}
@media only screen and (min-width: 401px){ html{font-size: 25px !important;}}
@media only screen and (min-width: 428px){html{font-size:26.75px !important;}}
@media only screen and (min-width: 481px){html{font-size: 30px !important;}}
@media only screen and (min-width: 569px){html{font-size: 35px !important;}}
@media only screen and (min-width: 641px){html{font-size: 40px !important;}}
h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,a,img,em,body,b,strong,span,div,p,i,table,tr,th,td,thead,tbody,label,input,textarea,select,option,section,header,footer{ margin:0;padding:0;-webkit-text-size-adjust:none;font-family:"Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;font-size:80%}
ul,li,ol{list-style:none outside none;}
h1,h2,h3,h4,h5,h6{font-weight:500;}
img{ border:0 none; vertical-align:middle;}
input,select{vertical-align:middle;}
a{text-decoration:none;}
table { border-collapse:collapse; }
address, caption, cite, code, dfn, th, var, optgroup{font-style: inherit;font-weight: inherit;}
em,i{font-style: normal;font-weight: normal;}
span em i{display:inline-block}
abbr, acronym {border: 0;font-variant: normal;}
input, button, textarea, optgroup, option {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;}
input, button, textarea, select {*font-size: 100%;}
input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
textarea{ resize:none;}
input,textarea,button {border:0 none;background:#fff;}
input,textarea,a,button {outline:none;}
input::-moz-focus-inner {border:0;}
.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0; }
.clear{ zoom:1; }
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
.clearfix:before,
.clearfix:after{content:""; display:table;}
.clearfix:after{clear:both;}
/* For IE 6/7 (trigger hasLayout) */
.clearfix{zoom:1;}

body{padding-top:2.1rem}
.bodybg{background:url(../images/bg.png) repeat;width:100%;}
.mb{margin-bottom:2rem;}
.header{width:100%; height:2rem; background:#448aca; border-bottom:#ccc solid 1px; position:fixed; top:0px; left:0px; z-index:1000;}
.header h1{width:100%; text-align:center; font-size:.9rem;line-height:2rem;color:#fff;}
.header .headicon{background:url(../images/icon04.png) no-repeat; width:.95rem; height:.35rem; background-size:.95rem .35rem; display:inline-block;position:absolute; right:.7rem; top:.8rem;}
.header .return{font-size:.7rem; position:absolute; left:.325rem;top:0;height:2rem; line-height:2rem; color:#fff; display:inline-block}
.header .return i{background:url(../images/icon01.png) no-repeat; width:.5rem;height:.825rem; margin:.575rem .2rem 0 0;float:left; display:inline-block; background-size:.5rem .825rem; }
.atc{width:100%; height:8.5rem; text-align:center; border-bottom:#eee solid 1px;}
.atc img{width:4.65rem; height:5.275rem; margin-top:1.25rem;}
.lgul .lgbg{background:#fff; height:1.95rem; border-bottom:#eee solid 1px;}
.lgul .lgbg .usename{ background:url(../images/icon02.png) no-repeat; background-size:1.025rem .9rem; width:1.025rem; height:.9rem;margin:.55rem 1rem 0 1.1rem;display:inline-block;float:left; }
.lgul .lgbg .usepsw{ background:url(../images/icon03.png) no-repeat; background-size:.8rem; width:.8rem; height:.8rem;margin:.625rem 1.15rem 0 1.15rem;display:inline-block;float:left; }
.lgul .lgbg input{height:1.95rem; line-height:1.95rem; width:12.575rem; color:#333; font-size:.75rem;}
.lgul .lgbg .showpsw{background:url(../images/icon46.png) no-repeat; background-size:1.075rem .65rem; width:1.075rem; height:.65rem;display:inline-block; float:right; margin:.6rem .5rem 0 0}
.lgul .lgft{color:#448aca; font-size:.75rem; padding-left:3.1rem; line-height:1.95rem;}
.lgul .lgft a{color:#448aca; font-size:.75rem;}
.lgbtn,.surebtn,.systembtn{width:94%; height:2.25rem; background:#448aca; margin:1.725rem 3% 0;font-size:.9rem; border-radius:3px; color:#fff;}
.pswmt{margin-top:2.875rem;}
.footer{width:100%; text-align:center; position:fixed; bottom:.825rem;}
.footer p{ color:#999; font-size:.6rem; text-align:center; width:100%; margin-top:.35rem;}
.footer .icon1{width:1.05rem; height:1.25rem;}
.footer .icon2{width:1.25rem; height:1.225rem; margin:0 .575rem;}
.footer .icon3{width:1.225rem; height:1.175rem;}
.footer .copyright{color:#448aca; font-size:.45rem}
.regf {padding-left:3.1rem; line-height:1rem; margin-top:.6rem;}
.regf .pf1{color:#666; font-size:.6rem;}
.regf .pf2{color:#999; font-size:.6rem;}
.regul{margin-top:1.85rem; border-top:#eee solid 1px;}
.regul li .regname{background:url(../images/icon08.png) no-repeat;}
.regul li .regpsw{background:url(../images/icon09.png) no-repeat;}
.regul li .regname,.regul li .regpsw{background-size:.65rem 1.025rem; width:.65rem; height:1.025rem;margin:.45rem 1.2rem 0 1.275rem; display: inline-block;float:left;}
.regul .lgbg input{width:7.5rem;float:left; }
.regul li a,.iodath ul li a{color:#448aca;font-size:.75rem; line-height:1.95rem; }
.regul li a.send0,.iodath ul li a.send0{color:red;}
.regul li a.send1,.iodath ul li a.send1{color:#448aca;}
.rega{display:flex;flex-direction: row; width:100%;justify-content: space-around;align-items:stretch;}
.rega a{width:45%;background:#448aca; height:2.25rem;line-height:2.25rem; border-radius:3px; color:#fff; font-size:.9rem; text-align:center;}
.regs{padding:3rem 0 0 0;height:10.225rem; }
.regs p{color:#666;font-size:.75rem; width:100%; text-align:center;line-height:1.2rem;}
.regs p.colblue{font-size:.9rem;color:#448aca}
.carinfo{height:5.25rem; border-bottom:#eee solid 1px; display:inline-block}
.carinfo h2{ padding:.5rem 3% 0;width:94% }
.carinfo h2 .ctit{color:#666; font-size:.75rem; }
.carinfo h2 .cinfo{color:#448aca; font-size:.6rem;float:right}
.carinfo h2 .cinfo i{background:url(../images/icon10.png) no-repeat; background-size:.45rem .575rem; width:.45rem; height:.575rem;display:inline-block; margin-right:.2rem;position:relative; top:.1rem; }
.carinfo .cinfo1{padding:0 3%; line-height:.9rem;width:94%;display:inline-block;}
.carinfo .cinfo1 span{ display:inline-block;font-size:.65rem;}
.carinfo .cinfo1 .cinfo1r{float:right;width:45%;}
.carinfo .cinfo1 .cinfo1l{float:left;width:50%;}
.carinfo .cinfo1 .cinfo1r i,.carinfo .cinfo1 .cinfo1l i{font-size:.65rem;}
.insurance{border-bottom:#eee solid 1px;padding:.7rem 3%;width:94%;background:#fff;}
.insurance .isp{line-height:1.2rem;}
.insurance .isp .ispr{width:45%;float:right}
.insurance .isp .ispl{width:55%}
.insurance .isp span{color:#666; font-size:.75rem; display:inline-block}
.insurance .isp span i{font-size:.9rem; color:#000; font-weight:600;}
.checkp,.radiop{width:.875rem; height:.875rem; position:relative;}
.checkp span,.radiop span{background:url(../images/icon11.png) no-repeat; background-size:.875rem; width:.875rem; height:.875rem; position:absolute;left:-1px}
.checkp span.checkps1,.radiop span.checkps1{background:url(../images/icon14.png) no-repeat; background-size:.875rem; width:.875rem; height:.875rem;}
.checkp input,.radiop input{opacity:0;}
.insurance1{background:#fff;}
.insurance1 li{padding:.5rem 3%; width:94%;border-bottom:#eee solid 1px; position:relative;}
.insurance1 li .checkp,.insurance1 li .date{float:left;}
.insurance1 li .checkp{margin:.08rem 0 0 0;}
.insurance1 li .instit{color:#000; font-size:.75rem; margin-left:.125rem;float:left;}
.insurance1 li .insm{font-size:.75rem; color:#ffc72a;float:right;}
.insurance1 li .instit{color:#000; font-size:.73rem;}
.insurance1 li .itf1{color:#666}
.insurance1 li .insh{background:url(../images/icon13.png) no-repeat; width:.875rem; height:.875rem; background-size:.875rem; display:inline-block;margin-left:.4rem;}
.insurdiv{background:#fff; position:absolute;width:72%; left:9%; top:2.1rem;z-index: 1000;padding:5%; display:none}
.insurdiv i{background:url(../images/tkimg.png) no-repeat; background-size:1.475rem .825rem; width:1.475rem; height:.825rem; position:absolute;top:-.75rem; }
.insurdiv p{font-size:.6rem; line-height:1rem;}

.date{position:relative;width:7.2rem;display:inline-block; float:left;}
.date span{background:url(../images/icon12.png) no-repeat; background-size:.625rem .35rem; width:.625rem; height:.35rem; display:inline-block; margin-left:.25rem;position:absolute;right:.2rem; top:.2rem; }
.date .inptxt{font-size:.65rem;color:#666; width:7.2rem;margin-left:.25rem; background:transparent;position:relative; left:0; z-index:10; }
.date span .inpdate{position:absolute;width:100%;opacity:0;}
.date em{font-size:.65rem;position:absolute; left:4.4rem; top:0rem}
.insdiv1{margin-top:.5rem;}
.insdiv1 .insd1p{margin-left:1rem;width:11rem;}
.insdiv1 .insd1p span{font-size:.75rem;color:#000;width:100%;display:inline-block}
.insdiv1 .insd1p em{font-size:.45rem;color:#ffc72a;width:100%;display:inline-block}
.insdiv1 .insd1sp{font-size:.75rem;color:#ffc72a;float:right; margin-top:.4rem;}
.insdiv2{display:inline-block; width:94%; padding:.5rem 0 0 1rem;}
.insdiv2 .insd2sp{font-size:.75rem; color:#666;float:right; line-height:1.45rem;}
.insdiv2 .insd2sp1{font-size:.75rem; color:#666;float:left; line-height:1.45rem; height:1.45rem; display:inline-block;}
.insdiv2 .insd2p{width:5.4rem; height:1.45rem; border:#999 solid 1px;float:left}
.insdiv2 input{width:96%; height:1.45rem; padding:0 2%; color:#666; font-size:.75rem;}
.insdiv2 .pm{margin-left:.25rem;}
.selep{position:relative;}
.selep span{background:url(../images/icon12.png)no-repeat;background-size:.625rem .35rem; width:.625rem; height:.35rem; display:inline-block; margin-left:.25rem; position:absolute;right:.25rem; top:.6rem;}
.selep span select{position:absolute; right:0;top:0;opacity:0;}
.insurance1 li .insmf1{font-size:.75rem; color:#666;float:right}
.insdiv3{display:inline-block; padding-left:1.1rem; margin-top:.5rem;width:96%}
.insdiv3 dd{float:left; /*width:11.53rem;*/width:76%;}
.insdiv3 dd p{/*width:2.8325rem;*/width:24.5%; height:1.9rem; font-size:.6rem; float:left; background:#999; line-height:1.9rem; text-align:center;color:#fff; border-bottom:#fff solid 1px; border-right:#fff solid .01rem; }
.insdiv3 dt{background:#ffc72a; font-size:.6rem; color:#fff; /*width:2.35rem;*/width:20%; height:3.825rem;line-height:3.825rem; text-align:center;display:inline-block}
.insdiv3 dd p.bluep{background:#448aca}
.total{padding-bottom:1.75rem;}
.total p{font-size:.9rem;color:#000;font-weight:600;float:right; margin-top:1rem; margin-right:3%;}
.total p i{font-size:.9rem;color:#e64461;font-weight:600;}
.backtop{background:rgba(76,76,76,.8); width:3.25rem; height:2.85rem; padding-top:.4rem;display:inline-block; text-align:center;position:fixed; right:0; bottom:10%;}
.backtop img{width:.75rem; height:.425rem;}
.backtop span{display:inline-block; text-align:center;width:100%;color:#fff; margin-top:.3rem;font-size:.45rem;}
.detail{border-bottom:#eee solid 1px; padding:3% 0; width:100%; line-height:1.3rem;}
.detail .dtlp{padding:0 3%;}
.detail .dtlp em{color:#ffc72a; font-size:.75rem; float:right;}
.detail .dtlp span{color:#000; font-size:.75rem;}
.detail .dtlp span i{font-size:.6rem; color:#666; display: inline-block; padding-left:.2rem;}
.detail .dtlph{height:.5rem; width:100%}
.detailul li{padding:3%; border-bottom:#eee solid 1px;display:inline-block; width:94%; margin:0}
.detailul li em{color:#666; font-size:.75rem; float:right}
.detailul li span{color:#666; font-size:.75rem;float:left}
.company li{background:#448aca; padding:3%; display:inline-block;width:94%; }
.company li em{color:#ffc72a; font-size:.9rem; float:right;}
.company li span{color:#fff;font-size:.75rem;}
.company li.selli{background:#e64461 }
.company li.selli em{color:#fff}
.details,.detailsp{margin-bottom:5% }
.details a,.detailsp a{float:right; display:inline-block;margin-right:5%;}
.details a span,.detailsp a span{ color:#448aca;font-size:.6rem;  }
.details i,.detailsp i{background:url(../images/icon12.png) no-repeat; width:.625rem; height:.35rem; background-size:.625rem .35rem; display:inline-block; margin-right:.15rem;}
.details .retract i{background:url(../images/icon15.png) no-repeat; width:.625rem; height:.35rem; background-size:.625rem .35rem;}
.issuediv{background:#fff; padding:4%;display:inline-block; width:92%;border-bottom:#eee solid 1px;line-height:1.3rem;}
.issuediv p{width:100%; line-height:1rem;font-size:.75rem; display: inline-block }
.issuediv p .isspanl{font-size:.75rem; color:#666; }
.issuediv p .isspanr{font-size:.75rem; color:#000; }
.detailsp{ text-align:center}
.detailsp a{float: none}
.issueinfo{background:#fff; border-top:#eee solid 1px; margin-top:.5rem;}
.issueinfo ul li{padding:4% 5%; border-bottom:#eee solid 1px; }
.issueinfo ul li span{color:#666;font-size:.75rem; float:left}
.issueinfo ul li input{color:#333; font-size:.75rem;}
.lady{position:absolute; top:0%; left:0%; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:1000;display:none}
.issuesuccess{width:86%; margin:-4.975rem auto 0; height:9.95rem; border:#999 solid 1px; text-align:center;position:fixed;top:50%; left:7%; z-index:1100;display: none}
.issuesuccess header{background:#448aca; height:1.75rem;font-size:.75rem;color:#fff; line-height:1.75rem; padding:0 5%;text-align:left;}
.issuesuccess header a{background:url(../images/icon16.png) no-repeat; background-size:1.125rem; width:1.125rem; height:1.125rem;margin:.325rem 0 0 0;float:right; display:inline-block}
.issuesuccess p{color:#666;font-size:.75rem;  line-height:1.1rem; margin:1.125rem 7% 0; width:86%;height:3.875rem; text-align:left }
.issuesuccess button{width:5.9rem; height:1.775rem; background:#e64461; color:#fff;font-size:.6rem; text-align:center; line-height:1.775rem; border-radius:3px; margin:0 auto; }
.isodc a{background:#448aca; width:50%;float:left; height:1.875rem;line-height:1.875rem;font-size:.75rem;color:#fff;text-align:center; }
.isodc a.sela{background:#e64461;}
.iodat{background:#fff;}
.iodat ul li{padding:3%; border-bottom:#eee solid 1px;display:inline-block; width:94%;}
.iodat ul li span.iodatsp{width:33%; display:inline-block; text-align:right; text-align:right;font-size:.75rem;float:left}
.iodat ul li i{color:#e64461; font-size:.75rem;}
.iodat ul li input{width:59%;font-size:.7rem;float:left}
.iodat ul li .iconphoto{background:url(../images/icon18.png) no-repeat; background-size:1.1rem .9rem; width:1.1rem; height:.9rem; display:inline-block; margin-top:.1rem;float:left }
.iodat ul li .iconphoto1{background:url(../images/icon12.png) no-repeat; background-size:.625rem .35rem; width:.625rem; height:.35rem; display:inline-block; margin-left:.4rem}
.cityatc{height:2.225rem; padding:.7rem 3%; display: inline-block}
.cityatc .oldcity{font-size:.75rem;}
.cityatc .oldcity span{color:#448aca; font-size:.75rem; position:relative;}
.cityatc .oldcity span i{background:url("../images/icon17.png") no-repeat; background-size:.3rem; width:.3rem; display:inline-block;position:absolute; top:.6rem;}
.citycar{margin:.6rem 0 0 2.65rem;float:left;}
.citycar p{float:left; margin-right:.2rem;}
.lgbtnmb{margin:1.3rem 3% 2rem;}
.iodath{margin-top:.625rem;border-top:#eee solid 1px;}
.iodath ul li span{margin-top:.5rem;}
.iodath ul li input{width:33%; margin-top:.5rem;}
.btp{text-align:center;line-height:1.5rem;font-size:.45rem;color:#666;}
.btp i{color:#e64461}
.updataphoto{float:left; margin:0 .25rem;}
.updataphoto img{width:2.5rem; height:3.25rem;}
.insurh{height:2rem; border-bottom:#eee solid 1px;text-align:center; width:94%}
.insurh .citycar{margin:.6rem 0 0 35%;}
.over{text-align:center; width:100%;}
.over .over1{width:7.3rem; height:6.925rem;margin-top:3.25rem;}
.over .over2{width:7.4rem; height:1.5rem; margin-top:.925rem;}
.prompt{text-align:center; padding:0 5%;display:inline-block;}
.prompt img{width:4.425rem; height:4.425rem; margin:4.25rem auto 1.1rem;}
.prompt p{font-size:.75rem;color:#666}
.prompt p i{color:#448aca;font-size:.75rem;}
.addWrap{ position:relative; width:100%;background:#fff;margin:0; padding:0; border-bottom:#c3c3c3 solid 1px;}
.addWrap .swipe{overflow: hidden;visibility: hidden;position:relative;}
.addWrap .swipe-wrap{overflow:hidden;position:relative;}
.addWrap .swipe-wrap > div {float: left;width: 100%;position:relative; overflow-y:auto;}
#position{ position:absolute; bottom:.2rem; right:0; padding-right:8px; margin:0; width:100%;text-align:center;}
#position li{width:.375rem;height:.375rem;margin:0 2px;display:inline-block;-webkit-border-radius:50%;border-radius:50%;background-color:#999;}
#position li.cur{background-color:#fff;}
.img-responsive { display: block; max-width:100%;height:auto; width:100%}
.menu{display:flex;flex-direction: row; width:94%;height:3.225rem;justify-content: space-around;align-items:stretch; padding:.5rem 3%; background:#fff }
.menu a{width:2.425rem; height:2.325rem; display:inline-block; text-align:center; line-height:2.325rem; border-radius:50%;}
.menu a p{font-size:.45rem;color:#666; text-align:center;line-height:1.2rem; width:100%}
.menu a.menu1{background:#fa6868}
.menu a.menu2{background:#ffd339}
.menu a.menu3{background:#9263fb}
.menu a.menu4{background:#faa941}
.menu a.menu5{background:#37c4ff}
.menu a.menu1 img{width:.85rem; height:1rem;}
.menu a.menu2 img{width:1.3rem; height:1.05rem;}
.menu a.menu3 img{width:1.15rem; height:.95rem;}
.menu a.menu4 img{width:1.45rem; height:1.275rem;}
.menu a.menu5 img{width:.5rem; height:.5rem;}
.newtit{height:1.2rem;line-height:1.2rem; padding:0 3%;}
.newtit span i{ background:url(../images/icon28.png) no-repeat; background-size:.325rem;width:.325rem; height:.325rem; display:inline-block;position:relative;top:-.15rem;margin-right:.2rem; }
.newtit span{padding-left:.2rem;font-size:.55rem;}
.newcont{background:#fff;}
.newcont dl{border-bottom:#d0d0d0 solid 1px; padding:3% 4%;display:inline-block; width:92%}
.newcont dl dt{width:1.625rem; height:1.625rem;float:left; margin-right:.35rem;display:inline-block;}
.newcont dl dt img{width:1.625rem; height:1.625rem;}
.newcont dl dd{width:85%;display:inline-block;}
.newcont dl dd h3{font-size:.6rem; color:#666;}
.newcont dl dd p em{display:inline-block;float:right;color:#999; font-size:.55rem;}
.newcont dl dd p span{color:#999; float:left;font-size:.55rem;}
.fotmenu{width:100%; background:#fff; height:2.225rem; border-top:#d0d0d0 solid 1px;display:flex;flex-direction: row; justify-content: space-around;align-items:stretch;position:fixed; bottom:0;left:0}
.fotmenu a{text-align:center;line-height:.6rem;}
.fotmenu a.selea span{color:#448aca;}
.fotmenu a i{display:inline-block;margin-top:.45rem;}
.fotmenu a span{font-size:.55rem; color:#666; display:inline-block; width:100%; text-align:center;}
.fotmenu a.fotmenua01 i{background:url(../images/fotimg01.png) no-repeat; background-size:.8rem .675rem; width:.8rem; height:.675rem;  }
.fotmenu a.fotmenua02 i{background:url(../images/fotimg02.png) no-repeat; background-size:.8rem .925rem; width:.8rem; height:.925rem;  }
.fotmenu a.fotmenua03 i{background:url(../images/fotimg03.png) no-repeat; background-size:1.15rem .925rem; width:1.15rem; height:.925rem;  }
.fotmenu a.fotmenua04 i{background:url(../images/fotimg04.png) no-repeat; background-size:1.075rem .925rem; width:1.075rem; height:.925rem; }
.bdh{margin-bottom:2.225rem;}
.fotmenu a.fotmenua01.selea i{background:url(../images/fotimg1.png) no-repeat; background-size:.8rem .675rem; width:.8rem; height:.675rem;}
.fotmenu a.fotmenua02.selea i{background:url(../images/fotimg2.png) no-repeat; background-size:.8rem .925rem; width:.8rem; height:.925rem;  }
.fotmenu a.fotmenua03.selea i{background:url(../images/fotimg3.png) no-repeat; background-size:1.15rem .925rem; width:1.15rem; height:.925rem;  }
.fotmenu a.fotmenua04.selea i{background:url(../images/fotimg4.png) no-repeat; background-size:1.075rem .925rem; width:1.075rem; height:.925rem; }
.systemul li,.personul li{padding:4%; border-bottom:#eee solid 1px; background:#fff  }
.systemul li a em,.payul li i,.typeat li .typeimg,.personul li a em,.dzhp a i{background:url(../images/icon36.png) no-repeat; background-size:.4rem .7rem; width:.4rem; height:.7rem; display:inline-block;float:right;}
.systemul li a i{display: inline-block;float:left; margin-right:.8rem;}
.systemul li a .systemi1{background:url(../images/icon29.png) no-repeat; background-size:1.025rem .9rem;width:1.025rem; height:.9rem;}
.systemul li a .systemi2{background:url(../images/icon30.png) no-repeat; background-size:1.3rem .9rem;width:1.3rem; height:.9rem;}
.systemul li a .systemi3{background:url(../images/icon31.png) no-repeat; background-size:1.375rem .725rem;width:1.375rem; height:.725rem;margin-top:.2rem;}
.systemul li a .systemi4{background:url(../images/icon32.png) no-repeat; background-size:1.25rem 1.575rem;width:1.25rem; height:1.575rem;margin-top:-.3rem;}
.systemul li a .systemi5{background:url(../images/icon33.png) no-repeat; background-size:1.05rem 1.2rem;width:1.05rem; height:1.2rem;}
.systemul li a .systemi6{background:url(../images/icon34.png) no-repeat; background-size:1.2rem 1.175rem;width:1.2rem; height:1.175rem;}
.systemul li a .systemi7{background:url(../images/icon35.png) no-repeat; background-size:1.375rem 1.15rem;width:1.375rem; height:1.15rem;}
.systemul li a span,.personul li a span{color:#999; font-size:.75rem;}
.systembtn{background-color:#e64461}
.iodat ul li .selep span{top:.4rem;}
.isrtp{width:10rem; color:#ffc72a; font-size:.45rem; float:right; margin:.3rem 0 1rem 0}
.rateh{ font-size:.75rem; color:#000; width:100%; line-height:1.8rem; text-align:center}
.rateat{padding:3%;}
.rateinfop{color:#666; font-size:.6rem; text-indent:2em}
.rateat ul li .rateulsp{color:#666; font-size:.6rem;float:left}
.rateat ul li .rateulp{color:#000; font-size:.6rem;}
.tab{width:96%; margin:.3rem auto;}
.tab tr th,.tab tr td{border:#666 solid 1px;}
.tab tr th{background:#999; color:#fff; height:1.225rem; font-size:.6rem;}
.tab tr td{height:1.225rem; font-size:.6rem; color:#666; text-align:center}
.rateinfop1{color:#000; font-size:.6rem;margin-top:.3rem;}
.rateinfop1 i{color:#e64461; font-size:.7rem;}
.rateinfop2{color:#000; font-size:.6rem; text-indent:2em;margin-top:.7rem;}
.datap{color:#000; font-size:.6rem; float:right; margin:3rem 0 1rem 0;}
.invoiceat{background:#fff; border-bottom:#eee solid 1px; padding:3% 4% 5%;}
.invoiceat h3,.disclam h3{width:100%; text-align:center; line-height:1.8rem;color:#666; font-size:.75rem;}
.invoiceat p{color:#666; font-size:.6rem; line-height:1.1rem;}
.addp{margin:.5rem auto 0; text-align:center; width:94%}
.addp .citycar{margin:.6rem 0 0 35%;}
.disclamf{font-size:.65rem; color:#666}
.disclam{ padding:3% 4% 5%; line-height:.9rem;}
.disclamdiv{border:#999 solid 1px; padding:.3rem;font-size:.65rem; line-height:.9rem;}
.mt{ margin-top:.9rem;}
.disclamh{ color:#070707}
.disclamp{color:#000;}
.datefot{font-size:.65rem; color:#000; margin:2% 3% 5% 0;float:right}
.confirmis{ padding:3%; position:relative; border-bottom:#eee solid 1px;}
.insuretit{width:5.725rem; margin:.3rem 0 0 0;}
.confirmis .code{position:absolute; right:3%;top:3%;color:#666;font-size:.45rem; line-height:.8rem;}
.confirmis .code i{color:#666;font-size:.45rem; line-height:.8rem; display:inline-block}
.confirmis .code img{width:3.4rem;}
.confirmisdiv{padding:1.5rem 0 0 0;}
.confirmisdiv h3{color:#666; font-size:.7rem; text-align:center}
.confirmisdiv h3 i{color:#666; font-size:.1rem;}
.cfdp1{color:#000; font-size:.75rem;margin:.5rem 0}
.cfdp2{color:#666; font-size:.6rem;margin:.5rem 0; text-indent:2em; line-height:1rem}
.cfdp2 i{font-size:.6rem; color:#000;}
.confirmat1{background:#fff; padding:2% 0; border-bottom:#eee solid 1px; line-height:1.1rem; }
.confirmat1 .insurep{ padding:1% 3% 3%;border-bottom:#eee solid 1px;}
.confirmat1 .insurep,.confirmat1 .insurep i{font-size:.75rem; color:#000; text-align:left}
.confirmat1 .insurep1{text-align:center; padding-top:.5rem; width:100%;}
.confirmat1 a i{background:url(../images/icon12.png) no-repeat; background-size:.625rem .35rem; width:.625rem; height:.35rem; display:inline-block; margin-right:.3rem;}
.confirmat1 a{color:#448aca; font-size:.65rem;}
.sign{text-align:center; margin:.8rem 0;}
.sign img{width:12.75rem;}
.cfibtn a{width:40%;height:2.25rem; line-height:2.25rem; border-radius:3px; margin:5%; display:inline-block;color:#fff; font-size:.9rem; text-align:center;}
.cfibtn a.cfibtn1{background:#e64461}
.cfibtn a.cfibtn2{background:#448aca}
.cfibtnc{ text-align:center;}
.insurediv h4{color:#000; font-size:.75rem; border-bottom:#eee solid 1px; border-top:#eee solid 1px; padding:3% 0 3% 3%;}
.insurediv ul{margin:2% 0;}
.insurediv ul li{padding-left:3%; line-height:1rem;}
.insurediv ul li span{color:#666;font-size:.65rem;}
.insurediv ul li em{color:#000;font-size:.65rem; line-height:.8rem;}
.insurat{padding:2% 3%; border-bottom:#eee solid 1px; display:inline-block;width:93%;}
.insurat h5{color:#000; font-size:.6rem;}
.insurat p{width:50%; float:left;}
.insurat p span{color:#666; font-size:.6rem;}
.insurat p em{color:#000; font-size:.6rem;}
.insuratpr span{display:inline-block; width:4.8rem; text-align:right;}
.insurtime{padding:2% 3%; width:94%}
.insurtime p{margin-top:.75rem}
.insurtime p span{color:#666; font-size:.75rem;width:100%; display:inline-block;}
.insurtime p em{color:#000; font-size:.75rem; line-height:.8rem;}
.planindiv{width:100%;}
.planindiv div{float:left;width:46%; margin-left:3%; text-align:left; font-size:.75rem;color:#666}
.planindiv div p{float:left; margin-right:.3rem;}
.invoice{ background:#448aca; color:#fff;height:1.85rem;line-height:1.85rem; padding-left:3%;font-size:.75rem; border-bottom:#eee solid 1px; border-top:#eee solid 1px;}
.invoicarea{width:65%; height:1.2rem; font-size:.75rem}
.payul{margin-top:1rem;}
.payul li{border-bottom:#eee solid 1px; padding:2% 3%; background:#fff; display:inline-block; width:94%}
.payul li i{margin:.4rem;}
.payul li img{ float:left; width:1.225rem; height:1.175rem;margin:.2rem .3rem 0 0;}
.payul li p span{font-size:.65rem;color:#666; width:75%; display:inline-block}
.payul li p em{font-size:.45rem;color:#999; width:75%; display:inline-block}
.payul li img.payliimg{width:1.65rem; height:1.075rem; margin-left:-.2rem;}
.paytype{padding:3% 4%;}
.paytype .typep em{color:#e64461; font-size:.75rem;display:inline-block; width:100%;}
.paytype .typep span{color:#666;font-size:.6rem; display:inline-block}
.paytype .typep1 span,.paytype .typep1 em{color:#666; font-size:.75rem;}
.paytype .typep1,.paytype .typep2{ margin-top:1.225rem;}
.paytype .typep2 .bf1{color:#000; font-size:.75rem;}
.paytype .typep2 .bf2{color:#ffc72a; font-size:.9rem;}
.paytype .typep2 .tbd{color:#666; font-size:.6rem;}
.typeat ul li{color:#666; font-size:.75rem; padding:3% 4%; width:92%}
.invtype{margin-top:.8rem;}
.qm{text-align:center; display:inline-block; margin-bottom:3%;}
.qm img{margin:3% 0; width:10.725rem;}
.qm span{font-size:.75rem; color:#666; float:right; display:inline-block; margin-right:3%; padding-bottom:2%;}
.cfiat h4{border:none;}
.pinfo{margin-top:-.2rem;}
.pinfo li .pinfosp1{font-size:.75rem; color:#999;}
.pinfo li a .systemi1{background:url(../images/icon41.png) no-repeat; background-size:1.125rem; width:1.125rem;height:1.125rem;  display:inline-block;float:right;margin-top:-.2rem;}
.pinfo li .pinfosp2{float:right;font-size:.75rem; color:#999; padding-right:1rem;}
.personul li .personsp1 i,.personul li .personsp2 i,.personul li .personsp3 i,.personul li .personsp4 i{display: inline-block;float:left; margin-right:.2rem;}
.personul li .personsp1 i{background:url(../images/icon41.png) no-repeat; background-size:1.125rem; width:1.125rem; height:1.125rem; }
.personul li .personsp2 i{background:url(../images/icon42.png) no-repeat; background-size:1.125rem; width:1.125rem; height:1.125rem; }
.personul li .personsp3 i{background:url(../images/icon43.png) no-repeat; background-size:1.125rem; width:1.125rem; height:1.125rem; }
.personul li .personsp4 i{background:url(../images/icon44.png) no-repeat; background-size:1.125rem; width:1.125rem; height:1.125rem; }
.personul li em{margin-top:.2rem;}
.personul li .personspr1{float:right; margin-right:.5rem;}
.personul li .personspr1 i{font-size:.75rem; color:#e64461;}
.personul{margin-top:-.2rem;}
.personbtn{background:#e64461; border-radius:3px; height:2.25rem;line-height:2.25rem; width:94%; margin:5rem 3% 0;font-size:.9rem;color:#fff; text-align:center;}
.copyright{position:absolute;left:0; bottom:3%; width:100%;text-align:center; font-size:.45rem; color:#666; }
.aboutimg{padding:3.075rem 0; width:100%; text-align:center;}
.aboutimg img{width:7.3rem;}
.aboutp{text-align:center;width:100%;font-size:1.2rem;color:#666;margin-top:.4rem;}
.aboutp i{font-size:.45rem;color:#666;display:inline-block;margin-right:.3rem;}
.ordernav{height:2.3rem;line-height:2.3rem;display:flex;flex-direction: row; width:100%;justify-content: space-around;align-items:stretch;}
.ordernav a{color:#999;font-size:.75rem;height:2.3rem;display:inline-block;position:relative;}
.ordernav a i{display:none;}
.ordernav a.sel i{height:2px; width:2.2rem; background:#e64461;display:inline-block; overflow:hidden;position:absolute;left:50%; bottom:.3rem; margin-left:-1.1rem; }
.ordernav a.sel{color:#666}
.orderul li{background:#fff; margin-bottom:3%}
.orderul li h3{border-bottom:#eee solid 1px; padding:0 3%; height:1.725rem; line-height:1.725rem;font-size:.75rem;}
.orderul li h3 .odhsp1{color:#448aca; font-size:.75rem;}
.orderul li h3 .odhsp2{color:#e64461; font-size:.6rem;float:right;}
.orderul li .orderdiv{padding:3%; line-height:1rem;}
.orderul li .orderlisp{width:46%;display:inline-block;}
.orderul li .orderlisp,.orderul li .orderlisp i,.orderul li .orderp,.orderul li .orderp i{color:#666; font-size:.6rem;}
.odxtit{border-bottom:#eee solid 1px; padding:0 3%; height:2.1rem;line-height:2.1rem;background:#fff;margin-top:-.2rem;}
.odxtit .odxtitsp1{color:#000; font-size:.75rem;}
.odxtit .odxtitsp2{float:right;color:#e64461; font-size:.75rem;}
.orderat1,.orderat2,.orderat3{background:#fff; border-bottom:#eee solid 1px;padding:3%; width:94%;}
.orderat1 .orderatsp1{color:#448aca; font-size:.75rem;}
.orderat1 .orderatp1{text-align:right;line-height:1.3rem;}
.orderat1 .orderatp1 .orderatem1{color:#666; text-decoration:line-through;font-size:.75rem; display:inline-block;margin-right:.3rem;}
.orderat1 .orderatp1 .orderatsp2{color:#ffc72a; font-size:.9rem;}
.orderat2 .orderat2p1{width:94%; display: inline-block}
.orderat2 .orderat2p1 .orderat2sp2{color:#000;font-size:.75rem;float:right;}
.orderat2 .orderat2p1 .orderat2sp1{font-size:.75rem; color:#000;}
.orderat2 .orderat2p2{color:#666; font-size:.75rem;line-height:1.3rem;}
.orderat2 .orderat2p3{width:100%; text-align:center; margin-top:.2rem;}
.orderat2 .orderat2p3 .xqa{color:#448aca; font-size:.6rem;}
.orderat2 .orderat2p3 .xqa i{background:url(../images/icon12.png) no-repeat; background-size:.625rem .35rem; width:.625rem; height:.35rem; display:inline-block; margin-right:.2rem;}
.orderat2 .orderat2p3 .xqa i.addimg{background:url(../images/icon45.png) no-repeat; background-size:.625rem .35rem; width:.625rem; height:.35rem;}
.orderat3{display:inline-block;}
.orderat3 .orderat3sp1{color:#000; font-size:.6rem; display:inline-block;width:94%;}
.orderat3 p{width:46%; float:left; line-height:1.1rem;}
.orderat3 p em,.orderat4 .discount1 em{color:#666;font-size:.6rem;display:inline-block; }
.orderat3 p span,.orderat4 .discount1 span{color:#000;font-size:.6rem;}
.orderat3 p em.orderat3em1{width:4.8rem; text-align:right}
.orderat4{background:#fff;}
.orderat4 .discount{ border-bottom:#eee solid 1px; padding:.2rem 3% .5rem;width:94%;}
.orderat4 .discount1{ border-bottom:#eee solid 1px; padding:2% 3%;width:94%; line-height:1rem;}
.carzinfo{padding:3%; width:94%;font-size:.75rem;color:#000; background:#fff; border-bottom:#eee solid 1px;border-top:#eee solid 1px; margin-top:-.2rem;}
.carzinfo a{color:#448aca; font-size:.75rem;float:right;}
.carzinfoat{ background:#fff; line-height:1.1rem; padding:2% 3% 4%;display:inline-block;width:94%; }
.carzinfoat p{font-size:.6rem;line-height:1.1rem;}
.carzinfoath{height:2.75rem; overflow:hidden;}
.invoiceimg{  text-align: center}
.invoiceimg img{width:3.525rem; height:4.4rem;  margin:0 0 0 .3rem;}
.dzhinfo{padding:3%; width:94%;font-size:.75rem;color:#000; background:#fff; border-bottom:#eee solid 1px;border-top:#eee solid 1px;margin-top:-.2rem;}
.dzhp a{ background:#fff; border-bottom:#eee solid 1px;padding:3%; width:94%; display:inline-block; color:#666;font-size:.6rem; }
.fotorder{background:#448aca; height:2.25rem;display:flex;flex-direction: row; width:100%;justify-content: space-around;align-items:stretch;position:fixed; bottom:0;left:0; }
.fotorder a{height:2.25rem; display:inline-block;font-size:.9rem; color:#fff;width:49.5%; text-align:center; line-height:2.25rem; }
.fotorder a.fotorder1{background:#448aca }
.fotorder a.fotorder2{background:#e64461 }
.editname li a em{background:url(../images/close.png) no-repeat; background-size:.575rem; width:.575rem; height:.575rem; display:inline-block}
.headimg{margin-top:-.3rem;}
.headimg img{width:100%;}
.photobtn{background:#448aca; width:94%; margin:3%; border-radius:3px; text-align:center; height:2.25rem; color:#fff; }
.photobtnmt{margin-top:16%}
.func{width:100%;position:relative}
.func img{width:100%}
.func span{color:#666; font-size:.55rem; text-align:center; display:inline-block;}
.func span i{display:inline-block;}
.func span.funcsp1{position:absolute; left:50%; top:8%;  margin:0 0 0 -1.175rem ;}
.func span.funcsp1 i{background:url(../images/icon51.png) no-repeat; background-size:2.35rem; width:2.35rem; height:2.35rem;}
.func span.funcsp2{position:absolute; left:10%; top:50%;  margin:-1.175rem 0 0 0 ;}
.func span.funcsp2 i{background:url(../images/icon49.png) no-repeat; background-size:2.35rem; width:2.35rem; height:2.35rem;}
.func span.funcsp3{position:absolute; left:50%; bottom:10%;  margin:0 0 0 -1.175rem ;}
.func span.funcsp3 i{background:url(../images/icon47.png) no-repeat; background-size:2.35rem; width:2.35rem; height:2.35rem;}
.func span.funcsp4{position:absolute; right:10%; bottom:50%;  margin:0 0 -2.115rem 0 ;}
.func span.funcsp4 i{background:url(../images/icon48.png) no-repeat; background-size:2.35rem; width:2.35rem; height:2.35rem;}
.func span.funcsp5{position:absolute; left:50%; top:50%;  margin:-2.0625rem 0 0 -2.0625rem;}
.func span.funcsp5 i{background:url(../images/icon50.png) no-repeat; background-size:4.125rem; width:4.125rem; height:4.125rem;}
.codediv{background:#fff; border-bottom:#eee solid 1px; padding-bottom:40%;}
.code1{width:8.05rem; margin:0 auto; text-align:center; padding:15% 0 8%; font-size:.75rem; color:#333;}
.code1 em{color:#f90; font-size:.75rem;}
.code2{ width:8.05rem; height:8.075rem; margin:0 auto;  text-align:center; }
.code2 img{ width:8.05rem; height:8.075rem;}
.code2 span{color:#999; font-size:.6rem; width:100%; text-align:left; display:inline-block; line-height:1.2rem;}
.pop{border:#999 solid 1px; width:80%;height:10rem;position:fixed; top:30%; left:10%; z-index:1100; display:none; text-align:center}
.pop h3{background:#448aca; height:1.75rem; line-height:1.75rem; padding-left:.5rem; color:#fff; font-size:.75rem;}
.pop h3 a{background:url(../images/close1.png) no-repeat; background-size:1.125rem; width:1.2rem; height:1.2rem; display:inline-block;float:right; margin:.3rem .5rem 0 0;}
.pop .popdiv{ margin:1.7rem 0 0 -1rem; text-align:center;}
.pop .popdiv .telp{ font-size:1.2rem;}
.pop .popdiv .p2{ font-size:.75rem; margin-top:1rem; color:#666}
.pop .btn{width:5.9rem; height:1.775rem; border-radius:3px; background:#e64461; text-align:center; line-height:1.775rem; color:#fff; margin:3.4rem auto 0;}
.payment{text-align:center; padding-top:2.1rem;}
.payment .paymp1{color:#e64461; font-size:.75rem; margin:1.3rem 0 .3rem 0;}
.payment .paymp2{color:#666; font-size:.75rem;}
.payment .paymp2 em{color:#ffc72a; font-size:.75rem;}
.pmbtn{ background:#448aca; border-radius:3px; width:94%;height:2.25rem; color:#fff; font-size:.9rem; margin:4rem 3% 0;}
.payment img{width:3.95rem;}
.funcp{font-size:.65rem; color:#999; height:2rem; line-height:2rem; text-align:center;}
.funul li{background:#fff; padding:.3rem 2.5%; display: inline-block; width:94%;position:relative;margin-bottom:.3rem}
.funul li .funimg{width:2.35rem; height:2.35rem;float:left; margin:.25rem .2rem 0 0;}
.funul li .funlip{width:77%;float:left;}
.funul li .funlip .funlip1{font-size:1rem;color:#666;}
.funul li .funlip .funlip2{font-size:.65rem;color:#999;}
.funul li .funlip span{display:inline-block; width:100%;}
.funul li .checkp{position:absolute; right:3%; toP:1.2rem;}
.prom{width:70%; background:#fff; border-radius:.3rem; margin:0 15%; position:fixed; top:35%; padding:6% 0; text-align:center;display:none; z-index:1100 }
.tiph{height:12.375rem;}
.tiph img{width:2.875rem; height:2.875rem; margin:.7rem 0 -.8rem;}
.tiph p{margin:1.125rem 5% 0 15%; width:80%;}
.tiph p a{color:#448aca;font-size:.75rem;}
.carimg{background:#eee; text-align:center; }
.carimg img{width:80%; margin:.55rem 10% 1.55rem; height:8.725rem;}
.carinfoul li.carimgli{ padding:0;width:100%; }
.carinfoul li span.salaslisp1{width:2.6rem; float:left;}
.carinfoul li .carbrand{position:relative;width:1.25rem; float:left;}
.carinfoul li .carbrand span{color:#000; font-size:.75rem; line-height:1.25rem;}
.carinfoul li .carbrand i{background:url(../images/icon59.png) no-repeat; background-size:.25rem .25rem;width:.25rem; height:.25rem; display:inline-block;position:absolute; right:0; bottom:.2rem;}
.carinfoul li .carbrand select{position:absolute; left:0; bottom:0; opacity: 0; width:100%;}
.carinfoul li .carbrandinp{width:40%;float:left;margin-left:2%; text-align:left;}
.carinfoul li .carbdiv{display:none}
